:root {
    /*COLOR PALETTE*/
    --white: #F6F6F6;
    --light-cyan: #E0FBFC;
    --blue: #3D5A80;
    --dark-blue: #293241;
    --dark-gray: #0A0E14;
    --orange: #EE6C4D;
}



@media (max-width: 858px){

    /*******************NAVBAR********************/

    label.logo{
        margin: 0 auto 0 50px;
      }

    .checkbtn{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
    }

    .checkbtn svg{
        height: 30px;
        fill: var(--dark-blue);
    }

    .checkbtn svg:hover{
        height: 30px;
        fill: var(--light-cyan);
        transition: .5s;
    }

    nav .cart svg{
        height: 25px;
        margin: 0 20px 0 100px;
        fill: var(--dark-blue);
      }

    #menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 64px;
        left: -100%;
        margin: 0;
        padding: 0;

        background: var(--dark-blue);
        text-align: center;
        transition: all .5s;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #menu-show{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 64px;
        left: 0%;
        margin: 0;
        padding: 0;

        background: var(--dark-blue);
        text-align: center;
        transition: all .5s;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    nav ul li{
        margin: 20px 0;
        line-height: 30px;
    }

    nav ul .nav-one{
        margin: 40px 0 20px 0;
    }

    nav ul li a{
        font-size: 16px;
        color: var(--light-cyan);
    }

    a:hover,a.active{
        color: var(--orange);
    }

    /*******************END OF NAVBAR********************/
    
  }