:root {
    /*COLOR PALETTE*/
    --white: #F6F6F6;
    --light-cyan: #E0FBFC;
    --blue: #3D5A80;
    --dark-blue: #293241;
    --dark-gray: #0A0E14;
    --orange: #EE6C4D;
}

html {
    scroll-behavior: smooth;
  }
  
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
  
    margin: 0;
    width: 100%;
}

a,
a:visited {
  text-decoration: none;
}

/*******************NAVBAR********************/
nav{
    background: var(--orange);
    height: 64px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}

label.logo{
    margin: 0 auto 0 200px;
  }

label.logo img{
    width: 40px;
  }

#menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px;
    padding: 0;
  }

nav ul li{
    display: inline-block;
    line-height: 16px;
    margin: 0 5px;
  }

nav ul li a{
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 800;
    padding: 0 15px;

    text-transform: uppercase;
  }

a.active,a:hover{
    color: var(--light-cyan);
    text-decoration: underline;
  }

a:hover{
    transition: .5s;
  }

nav .cart svg{
    height: 30px;
    margin: 0 200px 0 0;
    fill: var(--dark-blue);
  }

nav .cart:hover svg{
    fill: var(--light-cyan);
    transition: .5s;
  }

.checkbtn{
    font-size: 30px;
    color: var(--dark-blue);
    line-height: 64px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
  }



/*******************END OF NAVBAR********************/


/*******************BANNER SECTION********************/

.banner-section{
    width: 100%;
    height: 1016px;
    margin: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner-img{
    width: 100%;
    object-fit: cover;

    z-index: -1;
}

.banner-section h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: 800;
    text-align: center;

    z-index: 10;
}

.banner-section h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    z-index: 10;
}

.scroll-to-main-btn{
    width: 200px;
    position: absolute;
    margin: auto;
    top: 880px;
    z-index: 100;
  
    filter: drop-shadow(0 0 5px white);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

.scroll-to-main-btn span{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    color: var(--dark-gray);
    padding-bottom: 5px;
  }

.arrow-down{
    width: 30px;
    height: 30px;
    rotate: 90deg;
  
    filter: hue-rotate(200deg);
  }

.arrow-down-left{
    width: 30px;
    height: 30px;
    rotate: 90deg;
  
    filter: hue-rotate(200deg);
  
    display: none;
  }
  
#st-main{
    width: 100%;
  }