:root {
    /*COLOR PALETTE*/
    --white: #F6F6F6;
    --light-cyan: #E0FBFC;
    --blue: #3D5A80;
    --dark-blue: #293241;
    --dark-gray: #0A0E14;
    --orange: #EE6C4D;
}

html {
    scroll-behavior: smooth;
  }
  
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
  
    margin: 0;
    width: 100%;
}

a,
a:visited {
  text-decoration: none;
}

/*******************NAVBAR********************/
nav{
    background: var(--orange);
    height: 64px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    /*position: sticky;*/
    top: 0;
    z-index: 9999;
}

label.logo{
    margin: 0 auto 0 200px;
  }

label.logo img{
    width: 40px;
  }

#menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px;
    padding: 0;
  }

nav ul li{
    display: inline-block;
    line-height: 16px;
    margin: 0 5px;
  }

nav ul li a{
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 800;
    padding: 0 15px;

    text-transform: uppercase;
  }

nav a.active,nav a:hover{
    color: var(--light-cyan);
    text-decoration: underline;
  }

nav a:hover{
    transition: .5s;
  }

nav .cart svg{
    height: 30px;
    margin: 0 200px 0 0;
    fill: var(--dark-blue);
  }

nav .cart:hover svg{
    fill: var(--light-cyan);
    transition: .5s;
  }

.checkbtn{
    font-size: 30px;
    color: var(--dark-blue);
    line-height: 64px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
  }



/*******************END OF NAVBAR********************/

.main-page{
    width: 100%;
    position: absolute;
    z-index: -1;
}

/*******************BANNER SECTION********************/

.banner-section{
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.banner-img{
    width: 100%;
    object-fit: cover;
}

.banner-section h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: 800;
    text-align: center;
    color: var(--orange);

    margin: 275px 0 20px 0;
    position: absolute;
}

.banner-section h1 span{
    color: var(--light-cyan);
}

.banner-section h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    position: absolute;
    color: var(--white);
    margin: 400px 0 0 0;
}

.scroll-to-main-btn{
    width: 200px;
    position: absolute;
    margin: auto;
    top: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.scroll-to-main-btn span{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    color: var(--light-cyan);
    padding-bottom: 5px;
  }

.arrow-down{
    width: 30px;
    height: 30px;
    rotate: 90deg;
    filter: invert(1);
  }

.arrow-down-left{
    width: 30px;
    height: 30px;
    rotate: 90deg;
    filter: hue-rotate(200deg);
  
    display: none;
  }
  
#st-main{
    width: 100%;
  }

/*******************END OF BANNER SECTION********************/


/*******************FEATURE SECTION********************/

.feature-section{
    width: 100%;
    background-color: var(--dark-blue);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#section-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: var(--white);
    margin: 70px 0 0 0;
}

.feature-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 850px;
    margin: 50px 0 0 0;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.item:hover{
    background-color: var(--blue);
}

.item img{
    width: 250px;
    height: 250px;
    background-color: var(--orange);
}

.item-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--white);
    margin: 20px 0 0 0;
}

.item-price{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    margin: 10px 0 20px 0;
}

.feature-blog{
    width: 400px;
    height: 225px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .4s ease-in-out;
}

.feature-blog:hover .feature-blog-title{
    width: 400px;
    height: 225px;
    background-color: #3d5a80ca;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    transition: all .4s ease;
}

.feature-blog img{
    width: 400px;
    height: auto;
}

.feature-blog-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--white);
    position: absolute;
    opacity: 0;
}

.button{
    width: 200px;
    height: 40px;
    background-color: var(--light-cyan);
    border-radius: 10px;
    margin: 50px 0 70px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    background-color: var(--orange);
}

.button p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--dark-blue);
}

/*******************END OF FEATURE SECTION********************/
